* {
  padding: 0;
  margin: 0;
  overflow: hidden;
  box-sizing: border-box;
}

.main-container {
  background-image: linear-gradient(
    45deg,
    rgba(26, 33, 64, 1),
    #4b99a5,
    rgba(26, 33, 64, 1)
  );
  background-size: 300% 300%;
  animation: color 12s ease-in-out infinite;
}

a:hover {
  color: #00889d;
}

.animate div {
  position: absolute;
  border-radius: 5px;
  background-color: #268a99;
  box-shadow: 100%;
}

/* Shared animation for all elements */
.shared-animation {
  position: absolute;
  opacity: 10%;
}

/* Keyframe for shared opacity transition */
@keyframes sharedOpacity {
  20%,
  60% {
    opacity: 90%;
  }
  40%,
  80% {
    opacity: 10%;
  }
}

/* Animation for each element with individual movement and rotation */

/* .one */
.one {
  left: 2%;
  width: 35px;
  height: 35px;
  animation: oneMovement 10s linear infinite, sharedOpacity 10s linear infinite;
}
@keyframes oneMovement {
  0% {
    top: -130px;
  }
  100% {
    top: 100%;
    transform: rotate(1000deg);
  }
}

/* .two */
.two {
  left: 5%;
  width: 60px;
  height: 60px;
  animation: twoMovement 12s linear infinite, sharedOpacity 12s linear infinite;
}
@keyframes twoMovement {
  0% {
    top: -500px;
  }
  100% {
    top: 100%;
    transform: rotate(360deg);
  }
}

/* .three */
.three {
  left: 30%;
  width: 28px;
  height: 28px;
  animation: threeMovement 9s linear infinite, sharedOpacity 9s linear infinite;
}
@keyframes threeMovement {
  0% {
    top: -300px;
  }
  100% {
    top: 100%;
    transform: rotate(1000deg);
  }
}

/* .four */
.four {
  left: 20%;
  width: 70px;
  height: 70px;
  animation: fourMovement 20s linear infinite, sharedOpacity 20s linear infinite;
}
@keyframes fourMovement {
  0% {
    top: -130px;
  }
  100% {
    top: 120%;
    transform: rotate(300deg);
  }
}

/* .five */
.five {
  left: 45%;
  width: 45px;
  height: 45px;
  animation: fiveMovement 11s linear infinite, sharedOpacity 11s linear infinite;
}
@keyframes fiveMovement {
  0% {
    top: -40px;
  }
  100% {
    top: 100%;
    transform: rotate(1000deg);
  }
}

/* .six */
.six {
  left: 65%;
  width: 75px;
  height: 75px;
  animation: sixMovement 15s linear infinite, sharedOpacity 15s linear infinite;
}
@keyframes sixMovement {
  0% {
    top: -300px;
  }
  100% {
    top: 100%;
    transform: rotate(400deg);
  }
}

/* .seven */
.seven {
  left: 89%;
  width: 50px;
  height: 50px;
  animation: sevenMovement 10s linear infinite,
    sharedOpacity 10s linear infinite;
}
@keyframes sevenMovement {
  0% {
    top: -800px;
  }
  100% {
    top: 100%;
    transform: rotate(800deg);
  }
}

/* .eight */
.eight {
  left: 74%;
  width: 90px;
  height: 90px;
  animation: eightMovement 20s linear infinite,
    sharedOpacity 20s linear infinite;
}
@keyframes eightMovement {
  0% {
    top: -130px;
  }
  100% {
    top: 120%;
    transform: rotate(240deg);
  }
}

/* .nine */
.nine {
  left: 97%;
  width: 65px;
  height: 65px;
  animation: nineMovement 14s linear infinite, sharedOpacity 14s linear infinite;
}
@keyframes nineMovement {
  0% {
    top: -130px;
  }
  100% {
    top: 100%;
    transform: rotate(600deg);
  }
}

/* .ten */
.ten {
  left: 55%;
  width: 60px;
  height: 60px;
  animation: tenMovement 12s linear infinite, sharedOpacity 12s linear infinite;
}
@keyframes tenMovement {
  0% {
    top: -130px;
  }
  100% {
    top: 100%;
    transform: rotate(360deg);
  }
}

/* .eleven */
.eleven {
  left: 81%;
  width: 30px;
  height: 30px;
  animation: elevenMovement 8s linear infinite, sharedOpacity 8s linear infinite;
}
@keyframes elevenMovement {
  0% {
    top: -300px;
  }
  100% {
    top: 100%;
    transform: rotate(1200deg);
  }
}

/* .twelve */
.twelve {
  left: 26%;
  width: 22px;
  height: 22px;
  animation: twelveMovement 8s linear infinite, sharedOpacity 8s linear infinite;
}
@keyframes twelveMovement {
  0% {
    top: -130px;
  }
  100% {
    top: 120%;
    transform: rotate(2000deg);
  }
}
